* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;
}

header {
    background-color: #ffdb20;
    text-align: center;
    height: 44px;
}

html {
    scroll-behavior: smooth;
}

body.theme-home::before {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/2704-1405-theme/tgdd/bg_left.png?v=1), url(//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/2704-1405-theme/tgdd/bg_right.png?v=1);
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 371px 587px;
    pointer-events: none;
    background-color: #f9ea89;
    z-index: -9999;
}

/* ------------------nav------------------------ */
[class^="iconnewglobal-"],
[class*="iconnewglobal-"] {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/homev2/desk/iconnew.png);
    background-image: url(https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_75/https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/homev2/desk/iconnew.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 310px 257px;
}

.iconnewglobal-logo {
    background-position: 0 -176px;
    width: 228px;
    height: 40px;
}

nav {
    background-color: #ffd400;
}

nav img.logo {
    width: 150px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li,
a {
    color: #000;
    font-size: 12px;
}

nav ul li:nth-child(2) {
    height: 40px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ffbc06;
    border: none;
    border-radius: 4px;
    color: #333;
}

nav ul li:nth-child(2) i {
    color: #000;
    font-size: 15px;
    margin-left: 6px;
}

nav ul li:nth-child(3) {
    position: relative;
}

nav ul li:nth-child(3) input {
    width: 267px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 8px 8px 8px 13px;
}

nav ul li:nth-child(3) i {
    position: absolute;
    font-size: 15px;
    right: 0;
    padding-right: 15px;
    line-height: 40px;
    cursor: pointer;
    background-color: #fff;
}

nav ul li:nth-child(5),
nav ul li:nth-child(4) button {
    height: 40px;
    padding: 8px 10px;
    cursor: pointer;
    background-color: #ffbc06;
    border: none;
    border-radius: 4px;
    color: #333;
}

nav ul li:nth-child(5):hover,
nav ul li:nth-child(4) button:hover {
    opacity: 0.85;
    background-color: #d69e03;
    transition: 0.2 ease-in;
    color: #fff;
}

nav ul li:nth-child(4) i {
    margin-right: 8px;
    font-weight: 800;
    font-size: 17px;
}

nav ul li:nth-child(7),
nav ul li:nth-child(5) {
    text-align: center;
}


nav ul li:nth-child(6) {
    display: flex;
    text-align: center;
}

nav ul li:nth-child(6) a {
    color: #333;
}

.btn-content {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #f51212;
    display: block;
    float: left;
    margin-right: 10px;
}

.btn-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #c00d0d;
    display: block;
    pointer-events: none;
    animation: btnanim 2s linear infinite;
}


@keyframes btnanim {
    from {
        opacity: 0.4;
    }

    to {
        transform: scale(3);
        opacity: 0;
    }
}

nav ul li:nth-child(6) a:hover,
nav ul li:nth-child(8) a:hover,
nav ul li:nth-child(9) a:hover,
nav ul li:nth-child(10) a:hover {
    color: #288ad6;
}

/* ==================== MENU-BAR ============================ */
.menu-bar {
    background-color: #fed100;
}

.menu-bar .container {
    padding: initial;
}

.menu-bar ul {
    display: flex;
    justify-content: space-between;
    /* margin: 0 -10px 0; */
}

.menu-bar-content>ul>li {
    padding: 20px 6px;
    transition: 0.2s ease-in;
}

.menu-bar ul li a {
    font-size: 14px;
}

.menu-bar ul li a i {
    margin-right: 6px;
    font-size: 16px;
}

.menu-bar ul li:hover {
    background-color: #fff;
}

.menu-bar-content>ul>li:nth-child(9) {
    position: relative;
}

.menu-bar-content>ul>li:nth-child(9)::before {
    content: "giảm 5%";
    position: absolute;
    display: block;
    height: 15px;
    width: 45px;
    background-color: #f51212;
    border-radius: 5px;
    right: -25px;
    top: 3;
    font-size: 10px;
    color: #fff;
    padding: 0 3px;
    text-align: center;
    z-index: 1;
}

.menu-bar-content>ul>li:nth-child(9)::after {
    position: absolute;
    content: "";
    background-color: #f51212;
    height: 7px;
    width: 7px;
    display: block;
    top: 13px;
    right: 10px;
    transform: rotate(45deg);
}

/* -------------Adress form popup -----------------*/
.adress-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #333;
    display: none;
    z-index: 999;
}

.adress-form-content {
    width: 450px;
    height: 460px;
    background-color: #fff;
    border-radius: 5px;
    transition: 5s;
    animation: adressFormPopup .5s ease;
}

.adress-form-content form {
    padding: 12px 40px;
}

.adress-form-content h2 {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.adress-form-content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}

.adress-form-content form p {
    font-size: 16px;
}

.adress-form-content form input,
select {
    display: block;
    height: 45px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 6px;
}

.adress-form-content form button {
    margin-top: 30px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #f97e0e;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.adress-form-content form button:hover {
    opacity: 0.8;
}

@keyframes adressFormPopup {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* ------------------------ SubMenu -----------------------------*/
.menu-bar-content ul li {
    position: relative;

}

.submenu {
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 12px;
    display: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.submenu ul {
    display: flex;
    flex-direction: column;
}

.submenu ul li {
    padding: 6px 0;
}

.menu-bar-content ul li:hover .submenu {
    display: block;
}

.submenu ul li:hover:not(li:first-child) a {
    color: #288ad6;
}

.submenu ul li:hover {
    background: none;
}

.submenu ul li:first-child {
    border-bottom: 1px solid #dfdfdf;
}





/* ------------------------------SLIDER ------------------------------- */
.slider {
    padding: 20px 0;
    height: 350px;
}

.slider-content {
    display: flex;
    justify-content: space-between;
}

.slider-content-left {
    width: 70%;
}

.slider-content-left-top {
    width: 100%;
    height: 300px;
    position: relative;
}

.slider-content-left-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .slider-content-left-top:hover i{
    opacity: 1;
} */
.slider-content-left-bottom {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
    background-color: #fff;
}

.slider-content-left-bottom li {
    /* width: calc(100% / 6); */
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
    line-height: 38px;
    position: relative;
}

.slider-content-left-bottom li::before {
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}

.slider-content-left-bottom li.active {
    border-top: 5px solid #fed100;
}

.slider-content-right {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    gap: 1%;
}

.slider-content-right li {
    width: 49%;
    height: 49%;
    text-align: center;
    margin-bottom: 3px;
}

.slider-content-right li img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.slider-content-left-top-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-content-left-top-btn i {
    color: #333;
    font-size: 32px;
    height: 60px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 3px;
    opacity: 0;
    transition: all .3s ease;
    cursor: pointer;
}





/* ---------------------- Slider ----------------------------------- */
.slider-content-left-top img {
    position: absolute;
}

.slider-content-left-top a:nth-child(2) img {
    transform: translateX(100%);
}

.slider-content-left-top a:nth-child(3) img {
    transform: translateX(200%);
}

.slider-content-left-top a:nth-child(4) img {
    transform: translateX(300%);
}

.slider-content-left-top a:nth-child(5) img {
    transform: translateX(400%);
}

.slider-content-left-top a:nth-child(6) img {
    transform: translateX(500%);
}

.slider-content-left-top-container {
    position: relative;
    overflow: hidden;
}

.slider-content-left-top-container:hover i {
    opacity: 1;
}

.slider-content-left-top {
    transition: all .5s ease-in-out;
}

/* --------- Slider bottom ----------- */
.slider-content-left-bottom li.active {
    font-weight: bold;
}

.slider-content-left-bottom li {
    border-top: 5px solid #fff;
    border-bottom: 4px solid #fff;
    font-size: 12px;
}



/* -------------------------- Banner Content QC------------------------ */
.bannerContentQC {
    margin-top: 50px;
}
.groupBannerQC {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.groupBannerQC li {
    width: 23%;
    background-color: #fff;
    padding: 15px;
    text-align: left;
    border-radius: 12px;
    height: 100px;
}
.groupBannerQC li img {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    width: auto;
}
.groupBannerQC li a span {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    color: #222;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    margin-left: 10px;
    max-width: 65%;
}

/*  ---------------- Banner 1  ------------------------ */
.banner-one {
    margin-top: 10px;
}


/* ----------------- Slider Product ----------------------- */
.slider-product-one-content {
    background-color: #fed100;
    padding: 12px 0;
}

.slider-product-one-content-title {
    font-style: italic;
    padding: 12px;
}

.slider-product-one-content-items {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    max-height: 500px;
}

.slider-product-one-content-item {
    width: 19%;
    background-color: #fff;
    padding: 50px 12px 50px;
    border-radius: 5px;
}

.slider-product-one-content-item:hover>img,
.product-gallery-two-content-left-bottom-item:hover>img {
    transform: translateY(-20px);
}

.slider-product-one-content-item>img,
.product-gallery-one-content-product-item-text>img,
.product-gallery-two-content-left-bottom-item>img {
    width: 100%;
    transition: all .5s ease;
}


.slider-product-one-content-item-text,
.product-gallery-one-content-product-item-text,
.product-gallery-two-content-left-bottom-item {
    padding-top: 5px;
}


.slider-product-one-content-item-text li,
.product-gallery-one-content-product-item-text li,
.product-gallery-two-content-left-bottom-item li {
    margin-top: 5px;
}

.slider-product-one-content-item-text li:first-child,
.product-gallery-one-content-product-item-text li:first-child,
.product-gallery-two-content-left-bottom-item li:first-child {
    width: 50%;
    height: 20px;
    background-color: #df2463;
    display: inline-block;
    line-height: 30px;
    border-radius: 40px;
}

.slider-product-one-content-item-text li:first-child span,
.product-gallery-one-content-product-item-text li:first-child span,
.product-gallery-two-content-left-bottom-item li:first-child span {
    color: #fff;
    font-size: 10px;
    line-height: 20px;
}

.slider-product-one-content-item-text li:first-child img,
.product-gallery-one-content-product-item-text li:first-child img,
.product-gallery-two-content-left-bottom-item li:first-child img {
    width: 20px;
    float: left;
    margin-right: 6px;
}

.slider-product-one-content-item-text li:nth-child(2),
.product-gallery-one-content-product-item-text li:nth-child(2),
.product-gallery-two-content-left-bottom-item li:nth-child(2) {
    font-weight: bolder;
}


.slider-product-one-content-item:hover li:nth-child(2),
.product-gallery-one-content-product-item-text:hover li:nth-child(2),
.product-gallery-two-content-left-bottom-item:hover li:nth-child(2) {
    color: #288ad6;
}

.slider-product-one-content-item-text li:nth-child(4) a,
.product-gallery-one-content-product-item-text li:nth-child(4) a,
.product-gallery-two-content-left-bottom-item li:nth-child(4) a {
    text-decoration: line-through;
    color: #919191;
}

.slider-product-one-content-item-text li:nth-child(4) sup,
.product-gallery-one-content-product-item-text li:nth-child(4) sup,
.product-gallery-two-content-left-bottom-item li:nth-child(4) sup {
    color: #919191;
}


.slider-product-one-content-item-text li:nth-child(4) span,
.product-gallery-one-content-product-item-text li:nth-child(4) span,
.product-gallery-two-content-left-bottom-item li:nth-child(4) span {
    color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;
    font-weight: bolder;
}


.slider-product-one-content-item-text li:nth-child(3),
.product-gallery-one-content-product-item-text li:nth-child(3),
.product-gallery-two-content-left-bottom-item li:nth-child(3) {
    font-size: 13px;
}


.slider-product-one-content-item-text li:nth-child(5),
.product-gallery-one-content-product-item-text li:nth-child(5),
.product-gallery-two-content-left-bottom-item li:nth-child(5) {
    color: #d0021c;
    font-weight: bolder;
    font-size: 18px;
}


.slider-product-one-content-item-text li:last-child,
.product-gallery-one-content-product-item-text li:last-child,
.product-gallery-two-content-left-bottom-item li:last-child {
    margin-top: 15px;
    font-size: 14px;
    color: #999;
}

.slider-product-one-content-item-text li:last-child b,
.product-gallery-one-content-product-item-text li:last-child b,
.product-gallery-two-content-left-bottom-item li:last-child b {
    color: #fb6e2e;
    /* font-size: 14px; */
}

.slider-product-one-content-item-text li:last-child i,
.product-gallery-one-content-product-item-text li:last-child i,
.product-gallery-two-content-left-bottom-item li:last-child i {
    font-size: 11px;
    color: #fb6e2e;
    margin: 0 8px 2px 2px;
}

.readmore-btn {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    color: #333;
    display: block;
    line-height: 16px;
    margin: 0px auto 5px;
    padding: 15px 20px;
    text-align: center;
    width: 340px;
    font-size: 14px;
}

.readmore-btn i {
    padding-left: 5px;
}










/* ------------------------Slider Product slide ------------------- */
.slider-product-one-content-container {
    position: relative;
    overflow: hidden;
}

.slider-product-one-content-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-product-one-content-btn i {
    color: #333;
    font-size: 32px;
    height: 60px;
    width: 35px;
    background-color: rgba(255, 255, 255, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 3px;
    opacity: 0.3;
    transition: all .3s ease;
    cursor: pointer;
}

.slider-product-one-content:hover .slider-product-one-content-btn i {
    opacity: 1;
    box-shadow: 6px 0 4px rgba(0, 0, 0, .07), 4px 0 4px rgba(0, 0, 0, .09);
}

.slider-product-one-content:hover .slider-product-one-content-btn i:nth-child(2) {
    opacity: 1;
    box-shadow: -6px 0 4px rgba(0, 0, 0, .07), -4px 0 4px rgba(0, 0, 0, .09);
}

.slider-product-one-content-items-content {
    position: relative;
    height: 480px;
    transition: all .3s ease;
}

.slider-product-one-content-items {
    position: absolute;
}

.slider-product-one-content-item {
    box-shadow: 3px 3px 5px rgba(73, 73, 73, 0.3);
    transition: all .3s ease;
}

.slider-product-one-content-item:hover {
    transform: translateY(-10px);
    box-shadow: 3px 3px 10px rgba(73, 73, 73, 0.5);
}

.slider-product-one-content-items:nth-child(2) {
    transform: translateX(100%);
}

.slider-product-one-content-items:nth-child(3) {
    transform: translateX(200%);
}









/* ----------------------Product Gallery ------------------- */
.product-gallery-one-content-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-gallery-one-content-product-items {
    width: 19.7%;
    padding: 50px 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    gap: 0.3%;
    margin-bottom: 5px;
    transform: all 1s ease;
}

.product-gallery-one-content-product-items:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    /* transform: translateY(-15px); */
    margin: -10px 0 15px;
}

.product-gallery-one-content-product-item img {
    width: 100%;
    transition: all .3s ease;
}

.product-gallery-one-content-product-item:hover>img {
    transform: translateY(-20px);
}

.product-gallery-one {
    margin-top: 30px;
}

.product-gallery-one-content-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-gallery-one-content-title h2 {
    font-size: 32px;
    color: #333;
}

.product-gallery-one-content-title ul {
    display: flex;
    margin-top: 15px;
}

.product-gallery-one-content-title ul li {
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 40px;
    margin-left: 12px;
    background-color: #fff;
}

.product-gallery-one-content-title ul li a {
    color: #333;
    font-size: 13px;
    transition: all .3s ease;
}

.product-gallery-one-content-title ul li:hover a {
    color: #288ad6;
}







/* ---------------------------- PRODUCT GALLERY TWO ------------------ */
.product-gallery-two {
    margin-top: 50px;
}

.product-gallery-two-content {
    display: flex;
    padding-right: 12px;
    background: linear-gradient(160deg, #19274d 0%, #18254c 35%, #a6b5f7 100%);
}

.product-gallery-two-content-right {
    width: 20%;
}

.product-gallery-two-content-right img {
    width: 100%;
    margin-top: 125px;
}

.product-gallery-two-content-left {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.product-gallery-two-content-left-top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #ddd;
}

.product-gallery-two-content-left-top li:not(li:last-child) {
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.product-gallery-two-content-left-top .active {
    background-color: #fff;
    color: #5766af;
    font-weight: 600;
}

.product-gallery-two-content-left-top li:last-child a {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.product-gallery-two-content-left-bottom {
    padding: 5px 0 20px;
    margin-left: 0;
}

.product-gallery-two-content-left-bottom-items {
    display: flex;
    padding: 0px 5px;
    gap: 0.1%;
}

.product-gallery-two-content-left-bottom-item {
    width: 24.9%;
    padding: 50px 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 10px;
}

.product-gallery-two-content-left-bottom-item img {
    width: 100%;
}

/* ------ Slide Product Gallery 2 ------ */
.product-gallery-two-content-left-bottom-container {
    position: relative;
    overflow: hidden;
}

.product-gallery-two-content-left-bottom-item-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-gallery-two-content-left-bottom-item-btn i {
    color: #5766af;
    font-size: 32px;
    height: 60px;
    width: 35px;
    background-color: rgba(201, 211, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 3px;
    opacity: 0.3;
    transition: all .3s ease;
    cursor: pointer;
}

.product-gallery-two-content-left-bottom-container:hover .product-gallery-two-content-left-bottom-item-btn i {
    opacity: 1;
    box-shadow: 6px 0 4px rgba(0, 0, 0, .07), 4px 0 4px rgba(0, 0, 0, .09);
}

.product-gallery-two-content-left-bottom-container:hover .product-gallery-two-content-left-bottom-item-btn i:last-child {
    opacity: 1;
    box-shadow: -6px 0 4px rgba(0, 0, 0, .07), -4px 0 4px rgba(0, 0, 0, .09);
}

.product-gallery-two-content-left-bottom-content {
    position: relative;
    height: 450px;
    transition: all .3s ease;
}

.product-gallery-two-content-left-bottom-items {
    position: absolute;
    height: 100%;
}

.product-gallery-two-content-left-bottom-item:hover {
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
    /* transform: translateY(-10px); */
    margin: -10px 0 10px;
}

.product-gallery-two-content-left-bottom-items:last-child {
    transform: translateX(100%);
}

/* .slider-product-one-content-items:nth-child(3) {
    transform: translateX(200%);
} */





/* -----------------------------Product Flash Sale ---------------------- */
.slider-product-flashSale-one-content-title {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
}

.slider-product-flashSale-one-content-title span a {
    color: #0f62fe;
    font-size: 14px;
    font-weight: 400;
}

.slider-product-flashSale-one-content-title .timeCountDown,
.timeCounter {
    display: flex;
}

.timeCounter span:not(span:nth-child(even)) {
    display: flex;
    width: 24px;
    height: 24px;
    font-size: 14px;
    background-color: #27343e;
    color: #fff;
    margin-left: 4px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 600;
}

.timeCounter span:nth-child(even) {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 4px;
}

.slider-product-flashSale-one-content-title .timeCountDown img {
    margin: 0 12px 0 0;
}


.slider-product-flashSale-one-content-item {
    width: calc(97% / 7);
    background-color: #fff;
    padding: 0px 0px 10px;
    border-radius: 6px;
    gap: 3%;
    margin-top: 10px;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .07);
    transition: all .2s ease;
}
.slider-product-flashSale-one-content-item:hover {
    transform: translateY(-10px);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .3);
}
.slider-product-flashSale-one-content-item>img {
    width: 100%;
    transition: all .5s ease;
}

.slider-product-flashSale-one-content-item-text li:first-child img {
    width: 45%;
}

.slider-product-flashSale-one-content-item-text li:nth-child(2) {
    font-weight: bolder;
    color: #ee2624;
    font-size: 16px;
    padding: 0 10px;
}

.slider-product-flashSale-one-content-item-text li:last-child {
    /* margin-top: 5px; */
    font-size: 14px;
    color: #999;
    padding: 0 10px;
}
.slider-product-flashSale-one-content-item-text li:last-child a {
    text-decoration: line-through;
    color: #919191;
}

.slider-product-flashSale-one-content-item-text li:nth-child(4) sup {
    color: #919191;
}

.slider-product-flashSale-one-content-item-text li:last-child span {
    color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;
    font-weight: bolder;
}


.slider-product-flashSale-one-content-container {
    position: relative;
    overflow: hidden;
    padding: 0 5px;
}

.slider-product-flashSale-one-content-items-content {
    position: relative;
    height: 255px;
    transition: all .3s ease;
}

.slider-product-flashSale-one-content-items {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    position: absolute;
}


.slider-product-flashSale-one-content-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-product-flashSale-one-content {
    background-color: #fff;
    padding: 12px 0;
}

.slider-product-flashSale-one-content-btn i {
    color: #333;
    font-size: 18px;
    height: 40px;
    width: 25px;
    background-color: #e7e8ea;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 3px;
    opacity: 0.3;
    transition: all .3s ease;
    cursor: pointer;
}

.slider-product-flashSale-one-content:hover .slider-product-flashSale-one-content-btn i {
    opacity: 1;
    box-shadow: 6px 0 4px rgba(0, 0, 0, .07), 4px 0 4px rgba(0, 0, 0, .09);
}

.slider-product-flashSale-one-content:hover .slider-product-flashSale-one-content-btn i:nth-child(2) {
    opacity: 1;
    box-shadow: -6px 0 4px rgba(0, 0, 0, .07), -4px 0 4px rgba(0, 0, 0, .09);
}

.slider-product-flashSale-one-content-items:nth-child(2) {
    transform: translateX(100%);
}







/* --------- SCROLL ANIMATE -------------------- */
.scrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* padding: 10px 15px; */
    /* background-color: #fff; */

    cursor: pointer;
    transition: all .5s ease 0s;
    z-index: 5;
}

.scrollTop i {
    color: #d69e03;
    font-size: 50px;
}

.scrollTop:hover {
    opacity: 0.85;
}


.hidden {
    opacity: 0;
    filter: blur(3px);
    transform: translateY(-30%);
    transition: all 1s ease;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hiddenRow {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s ease;
}

.showRow {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.product-gallery-one-content-product-item:nth-child(2) {
    transition-delay: 100ms;
}

.product-gallery-one-content-product-item:nth-child(3) {
    transition-delay: 200ms;
}

.product-gallery-one-content-product-item:nth-child(4) {
    transition-delay: 300ms;
}

.product-gallery-one-content-product-item:nth-child(5) {
    transition-delay: 400ms;
}

.product-gallery-one-content-product-item:nth-child(6) {
    transition-delay: 150ms;
}

.product-gallery-one-content-product-item:nth-child(7) {
    transition-delay: 250ms;
}

.product-gallery-one-content-product-item:nth-child(8) {
    transition-delay: 350ms;
}

.product-gallery-one-content-product-item:nth-child(9) {
    transition-delay: 450ms;
}

.product-gallery-one-content-product-item:last-child {
    transition-delay: 550ms;
}